.seat {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 26px;
  height: 26px;
  border-radius: 12px;
  border: 1px solid #808f9d;
  background-color: #c3cfd9;
  font-size: 11px;
  margin-right: 5px;
  margin-bottom: 10px;
}

.occupied {
  background-color: #fbe192;
}

.selected {
  background-color: #8dd7cf;
}
